{% extends 'main/base.html' %}
{% block title %}Leadership &amp; Governance{% endblock %}

{% load static %}
{% block style %}
    <link type="text/css" rel="stylesheet" href="{% static 'main/leadership.css' %}">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="container">
            <h1 class="h">Leadership &amp; Governance </h1>
            <p class="text-center" id="woah">Sagacity Education is led by a team of visionary leaders and dedicated professionals committed to academic excellence and innovation. <br> Our leadership team is responsible for shaping the strategic direction of the institution, ensuring quality education, and fostering a culture of research and community engagement.</p>
            <br>
            <h1 class="h">Leadership</h1>
            <p class="text-center" id="woah">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio adipisci natus at eaque pariatur officiis.</p>
            <div class="cardleader">
                <div class="cardgroup">
                    <div class="carde">
                        <img src="https://thumbs.dreamstime.com/b/female-university-professor-formal-wear-holding-journal-pen-classroom-155809503.jpg" alt="">
                        <div class="layer"></div>
                        <div class="info">
                            <h1>Ms. Anna</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio magni, minima aliquam excepturi possimus vitae.</p>
                            <button>Learn More</button>
                        </div>
                    </div>
                    <div class="carde">
                        <img src="https://en.nsd.pku.edu.cn/images/content/2025-06/20250616142912325281.jpg" alt="">
                        <div class="layer"></div>
                        <div class="info">
                            <h1>Ms. MA Jingjing</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio magni, minima aliquam excepturi possimus vitae.</p>
                            <button>Learn More</button>
                        </div>
                    </div>
                    <div class="carde">
                        <img src="https://www.isscad.pku.edu.cn/images/content/2023-11/20231116010703705293.jpg" alt="">
                        <div class="layer"></div>
                        <div class="info">
                            <h1>Mr. Qingyang</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio magni, minima aliquam excepturi possimus vitae.</p>
                            <button>Learn More</button>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="h">Governance</h1>
            <p class="text-center" id="woah">The governance structure of Sagacity Education is designed to ensure transparency, accountability, and effective decision-making. <br> Our governing bodies include the Board of Trustees, Academic Council, and various committees that oversee different aspects of the institution's operations.</p>
            <div class="cardleader">
                <div class="cardgroup">
                    <div class="carde">
                        <img src="https://www.ghd.pku.edu.cn/images/2022-10/89111a8ffe57408283b7933fa052fd93.jpg" alt="">
                        <div class="layer"></div>
                        <div class="info">
                            <h1>Mr. FANG Hai</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio magni, minima aliquam excepturi possimus vitae.</p>
                            <button>Learn More</button>
                        </div>
                    </div>
                    <div class="carde">
                        <img src="https://en.nsd.pku.edu.cn/images/content/2023-02/20230216104430952310.jpg" alt="">
                        <div class="layer"></div>
                        <div class="info">
                            <h1>Ms. HU Jiayin</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio magni, minima aliquam excepturi possimus vitae.</p>
                            <button>Learn More</button>
                        </div>
                    </div>
                    <div class="carde">
                        <img src="https://en.nsd.pku.edu.cn/images/content/2025-08/20250808111847027192.jpg" alt="">
                        <div class="layer"></div>
                        <div class="info">
                            <h1>Ms. ZHANG Dandan</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio magni, minima aliquam excepturi possimus vitae.</p>
                            <button>Learn More</button>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="h">Lorem ipsum dolor sit amet </h1>
            <p class="text-center" id="woah">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <section>
                <div class="smallsec">
                    <div class="smallpic">
                        <img src="https://web.asia.edu.tw/uploads/asset/data/63185f75657ca133f34e02fa/MingKLim.jpg" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                    <div class="smallpic">
                        <img src="https://www.sem.tsinghua.edu.cn/__local/3/46/6C/3AEDB048A40C2B5517D25D9E694_95F144AE_38FEB.jpg" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                    <div class="smallpic">
                        <img src="https://bs.bnu.edu.cn/images/content/2021-02/20210226100438552419.jpg" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                    <div class="smallpic">
                        <img src="https://bpb-us-e2.wpmucdn.com/sites.utdallas.edu/dist/8/1090/files/2023/09/mengxin-wang-256-256.jpg" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                    <div class="smallpic">
                        <img src="https://www.cmu.edu/casos-center/people/wenqui-zhou_webpage.jpg" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="smallsec">
                    <div class="smallpic">
                        <img src="https://media.licdn.com/dms/image/v2/D5603AQH65pbbxZyjlw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1703902770851?e=2147483647&v=beta&t=IEXCekok5I6B8u9nXlJolZU0J8kzGjzbiqm7sxjkTGY" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                    <div class="smallpic">
                        <img src="https://cnsubsites.chinadaily.com.cn/bfsu/img/attachement/jpg/site17/20210827/1630032858839.jpg" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                    <div class="smallpic">
                        <img src="https://vinuni.edu.vn/wp-content/uploads/2020/07/Image-45-e1724988879625.jpg" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                    <div class="smallpic">
                        <img src="https://cece.ucf.edu/MBRL/wp-content/uploads/2024/10/Dr.-Lee_2024.png" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                    <div class="smallpic">
                        <img src="https://www.tbsnews.net/sites/default/files/styles/infograph/public/images/2025/05/21/shanda3_0.jpeg" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="smallsec">
                    <div class="smallpic">
                        <img src="https://www.uff.ufl.edu/wp/wp-content/uploads/2020/09/faculty-mo-wang-313x418.jpg" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                    <div class="smallpic">
                        <img src="https://cnsubsites.chinadaily.com.cn/bfsu/img/attachement/jpg/site17/20210827/1630032811781.jpg" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                    <div class="smallpic">
                        <img src="https://fed.um.edu.mo/wp-content/uploads/2024/06/kcc-2.jpg" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                </div>
            </section>
            <section>
                <div class="smallsec">
                    <div class="smallpic">
                        <img src="https://en.westlake.edu.cn/about/faculty/science/202504/W020250414406866606914_ORIGIN.jpg" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                    <div class="smallpic">
                        <img src="https://www.egr.uh.edu/sites/www.egr.uh.edu/files/images/faculty/cive/lee.jpg" alt="Leadership Image" height="200" width="200">
                        <p>Lorem ipsum dolor </p>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
